<div class="c-content clearfix">
	<div class="contact-us">
    	<div class="row">
    		<div class="col-md-12">
    			<h1>Privacy Policy</h1>
        		<p class="privacy-policy-page">This Privacy Statement is being published to explain how we may collect and use your personal information when you visit this website. Please carefully review these provisions as they will govern all privacy issues in relation to your access to www.praywhere.com, purchase of prayer accessories from the online store, or use of its resources to find suitable prayer areas in your location.<br>
Accessing this website or using its posts, search features, forums, social media, or other resources to find prayer areas, mosques, quiet rooms, etc. shall be deemed as your consent to accept and abide by this Privacy Policy. If you don’t consent, you may not use this website.<br>
Please acknowledge that all kinds of collection, processing, storage, use of sharing of your personal information will take place according to this Privacy Policy. When you browse this website, purchase any prayer accessory from the online store, or use its resources to find suitable prayer areas, Pray Where shall be entitled to collect your personal information as mentioned in this privacy Policy.<br>
However, this Privacy Policy will not apply to third party/linked websites or anything that you share on forums and social media being made available on this website. Third party websites are governed by their own policies while Pray Where reserves a right to use your public profile or other shared information to the benefit of everyone.</p>
			</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>What We May Collect</h1>
                <p class="privacy-policy-page">
                    <strong>Identifiable Information: </strong>Browsing www.praywhere.com is free and voluntary, and we don’t collect any kinds of identifiable information for visiting this website. However, you may be required to register on the website and provide your name, contact number, email address, shipping address, credit card information, and other details of your demographic profile for purchasing any prayer accessory from the online store or using any other service being made available on the website.<br>
Pray Where will never use any kinds of automated tools to collect your identifiable information. Any information that uniquely identifies you on the website will be collected only when you voluntarily submit or share that information with Pray Where or the collaborating partners.<br><br>
<strong>Non-identifiable Information: </strong>This type of information pertain to your device information (such as the device type, operating system, browser type and version, and app version, etc.) and browsing behavior like entry or exit pages, date and time of access, use of specific features or resources, and other metadata related to your use of the website, hereby referred as the User Data.<br>
Please acknowledge that Pray Where may use cookies and other automated tools and techniques to collect the User Data on the website. The User Data is non-identifiable statistical information, but can be very instrumental in resolving technical issues and improving this website.<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Third Party Cookies</h1>
                <p class="privacy-policy-page">
                    Pray Where may use Google Analytics, AdSense, or other third party advertising platforms or services on this website. These third-party service providers may use their own DART cookies or automated tools to collect your personal information in relation to their services or ad serving on the website.<br>
When you use this website or any third party service being made available on it, it shall be deemed as your consent to accept these third party tools and techniques that may collect your search history or browsing behavior for offering relevant products and services you might be looking for.<br>
If you don’t want to share this User Data, you may disable our/third party cookies and tracking tools by changing the configuration settings of your web browser. However, you should understand that cookies are essential for proper functioning of this website and disabling cookies or tracking tools may prevent you from using certain features on this website.<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>How we may use your personal information</h1>
                <p class="privacy-policy-page" style="margin: 0;margin-bottom: 5px;">
                    As a policy, we will use your personal information for the purpose it has been collected. To be more specific, we may collect, process, store, use, or share your personal information for the following purposes:
                    <ul class="privacy-policy-page" style="color: #6f6f6e;">
  <li>Registering you on the website.</li>
  <li>Preventing unauthorized access or illegal activities on the website.</li>
  <li>Receiving your feedback and resolving technical issues on the website.</li>
  <li>Sending news alerts and notifications regarding your account status or services being offered on the website.</li>
  <li>Improving the services and enhancing your experience on the website.</li>
  <li>Researching, analyzing or consolidating the usage data for internal purposes.</li>
  <li>Obtaining your permission to use your personal information for any purpose not listed in this Privacy Policy.</li>
</ul>
<br>
                </p>
            </div>
        </div>

         <div class="row">
            <div class="col-md-12">
                <h1>Sharing and Disclosure</h1>
                <p class="privacy-policy-page" style="margin: 0;margin-bottom: 5px;">
                    We will never do anything to compromise your privacy on this website or use your personal information for direct marketing unless you have consented to receive exclusive offers and deals from third parties. If you don’t want to receive these promotional messages/emails, you can revoke your consent by following the unsubscribe link at the bottom of such commercial messages or emails.<br>
Pray Where may share your personal information with the service providers or other third parties, but only that much information will be shared which is required by such third parties or service providers to deliver/perform the products or services you might have requested.<br>
Pray Where may share the User Data with the marketing companies or other service providers to help them in targeted ads serving or analyzing the website for internal purposes. When feasible, the User Data will be aggregated to make them anonymous before such sharing.<br>
Pray Where reserves a discretionary right to disclose your personal information with the third parties when such disclosure is necessary to:<br>
<ul class="privacy-policy-page" style="color: #6f6f6e;">
    <li>Protect its business/legal rights.</li>
    <li>Prevent any misuse of the website.</li>
    <li>Comply with the applicable laws and court rulings.</li>
    <li>Facilitate a merger or transfer of ownership.</li>
</ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Access and Correction</h1>
                <p class="privacy-policy-page">
                    No personal information will be collected for browsing this website, but if you have registered on this website to purchase any product or use any service being made available by Pray Where or the collaborating partners, you shall be entitled to access your personal information that we hold on the website, and modify it when required.<br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Security</h1>
                <p class="privacy-policy-page">
                    We do not collect any personal information for browsing this website. In case, you purchase any product or service being made available on this website, we will ensure that all transactions are secured using industry standard SSL encryption and your personal information is handled in the true spirit of this Privacy Policy.<br>
Please acknowledge that your personal information on this website may be subject to international transmission, processing, and storage of data on servers located outside your home country. Pray Where shall not be liable for a security breach or unauthorized access to your personal information. It shall be your responsibility to maintain the confidentiality of your login information and you shall use the website at your own risk. <br>
                </p>
            </div>
        </div>

         <div class="row">
            <div class="col-md-12">
                <h1>Changes to this Privacy Policy</h1>
                <p class="privacy-policy-page">
                    Pray Where may change or replace this Privacy Policy at any time and in its sole discretion. However, if any change in this Privacy Policy takes place, we will take appropriate measures to notify you about the changes. Once notified, the modified Privacy Policy will replace and supersede all previous versions of this Privacy Policy. Continued use of this website shall be deemed as your consent to accept and abide by the modified Privacy Policy.<br>
                </p>
            </div>
        </div>

         <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                <p class="privacy-policy-page">
                  If you have any concerns about this Privacy Policy, please write to us at hello@praywhere.com. We will get back to you as soon as possible.<br>
                </p>
            </div>
        </div>

    </div>
</div>