<div class="c-content clearfix">
    	<div class="contact-us">
        	<div class="row">
        		<div class="col-md-12">
        			<h1>Terms of Service</h1>
            		<p class="privacy-policy-page">Please carefully read and review these terms and conditions as they will govern each and every matter that can possibly arise in relation to your access to http://praywhere.com (referred as Pray Where), use of its resources to find suitable places to pray, marketplace to buy praying accessories, and/or related services, including forums and social media (collectively the Service) being offered on this website. If you don’t agree, you may not use this website/Service.<br>
All users, including the guest visitors, should enter a legally binding agreement with Pray Where for using this website. By using any part of this website shall be deemed as your digital signature and bind you to these terms and conditions.<br>
When you enter this agreement, it shall be deemed that you have attained the age of legal maturity and otherwise qualified to use the website, and if you are not, using the website under the guidance and supervision of your legal guardian, who shall consent to this agreement.<br>
The website is intended to provide information on prayer places that you might be able to use nearby. It shall be your responsibility to ensure that the Service is available in your home country and you can use the without violating any local, state, or federal laws.<br>
Pray Where may monitor and record your activities on the website, but shall have no obligation to do so. If we find that you are involved in any kind of misuse/abuse or not acting according to the letter and spirit of this agreement, we may prevent any further use of the Service and disclose any information, communication, records, or content to the relevant authorities/third parties in our sole discretion.<br></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Registration / Subscription</h1>
            		<p class="privacy-policy-page">Access to this website shall be free and voluntary, but you may be required to register on the website and login to your account for contributing to the website or posting your views, reviews, advice, suggestions, feedback, or comment (User-Generated Content) related to the Service being offered on the website.<br>
When you create an account on this website, you may be required to submit your name, contact number, location, email address, credit card information, preferences, and other details of your demographic profile. Your personal information will always be used for improving the Service and enhancing your experience on the website.<br>
It shall be your responsibility to maintain the confidentiality of your login information. You shall be liable for all activities that may take place under your account/credentials.<br></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Copyrights and Trademarks</h1>
            		<p class="privacy-policy-page">Except the User-Generated Content, all resources, content, and presentation on this website, including the texts, pictures, descriptions, icons, buttons, logos, trademarks, service marks and associated service names are owned by Pray Where and its collaborating partners, fully protected under the copyright and trademark laws of Singapore and related international conventions. <br>
Copyright © 2016 Pray Where. All rights reserved. You may access or download any image or description of areas to pray, but you are not allowed to exploit the content or resources on this website in any form or manner, or do anything that amounts to a commercial use or an infringement of our rights, including the copyrights and intellectual property.<br>
You should never remove any copyright notice from the downloaded content and always respect the trademarks/service marks of our collaborating partners.<br></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Prohibited Use</h1>
            		<p class="privacy-policy-page" style="margin: 0;margin-bottom: 5px;">The website/Service shall be used for lawful purposes only. All kinds of unauthorized and illegal activities, including terrorist recruitment or promotion of terrorist organizations in any form or manner, shall be strictly prohibited.
When using the website, you will never:
<ul class="privacy-policy-page" style="color: #6f6f6e;">
<li>Modify, repost, redistribute or share our resources or content, in any form or manner, or do anything that amounts to commercial exploitation, unless you are duly authorized to do so.</li>
<li>Abuse any feature, system tool, user data, records, and connected network or do anything to harm or compromise the safety and security of the App.</li>
<li>Stalk others, steal their personal information or induce them to follow any malicious links.</li>
<li>Use any framing strategy or tactics to enclose our logos, brands, trademarks or relevant descriptions being featured on the website.</li>
<li>Use the Service to share encrypted/anonymous messages or do anything that amounts to supporting terrorism, spamming or promoting your own products, or abusing the Service.</li>
<li>Share anything that is vulgar, obscene, offensive, disturbing, sexually explicit, profane, defamatory, incorrect, erroneous, menacing, or obtrusive of others’ right to privacy or publicity.</li>
</ul>
<p class="privacy-policy-page">
Pray Where reserves a discretionary right to suspend or terminate your account and prevent you from using the website in its sole discretion.<br></p></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Indemnity</h1>
            		<p class="privacy-policy-page" style="margin: 0;margin-bottom: 5px;">You shall indemnify Pray Where and hold its partners, subsidiaries, affiliates, service providers, executives, and employees harmless from all damages, claims, and expenses, including the legal fees and administrative charges that may arise from your:
            		<ul class="privacy-policy-page" style="color: #6f6f6e;">
            		<li>Violation of this agreement</li>
            		<li>Ability or inability to use the Service</li>
            		<li>Non-compliance with the applicable laws</li>
            		<li>Your acts and omissions on the website/Service.</li>
            		<li>Infringement of others rights, including their copyrights, intellectual property and rights to privacy or publicity</li>
            		</ul>
<p class="privacy-policy-page">
These indemnities shall survive any termination of this agreement.<br></p></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Warranty Disclaimer</h1>
            		<p class="privacy-policy-page">Subject to your rights, we disclaim all warranties and representations to the maximum extent permissible under the applicable laws. The website/Service is being offered as it is and to be used for information purpose only.<br>
Unless otherwise mentioned in this agreement, nothing on this website shall denote any kinds of express or implied guarantee regarding the accuracy, reliability, authenticity, availability, timeliness, completeness, merchantability, non-infringement, or suitability of the resources or any other aspect of the Service, including posted/featured areas for prayer and related user posts, or relevant views, reviews, advice, suggestions, recommendations, information, or content on the website.<br>
Nothing on this website shall create any kinds of express or implied warranty or representation that the Service will be free from errors and omissions, infringements, interruptions, or viruses, and all such occurrences will be restored promptly. You shall bear all the risks that may be involved in using the Service over the Internet.<br></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Limitation of Liabilities</h1>
            		<p class="privacy-policy-page">Pray Where shall not be liable for any direct, indirect, minor, major, exemplary, punitive, or special damages, including but not limited to loss of goodwill, credibility, peace of mind, or other intangible losses that may arise due to your (1) ability or inability to use the website and its resources to find areas suitable to pray, (2) acts and omissions of other users or user-generated content on the website, (3) disruption/non-availability of the Service due to unforeseen circumstances, technical limitations, maintenance, or modifications to the Service, (4) escalated cost of purchasing any substitute accessories for prayer, (5) non-performance of third parties and service providers, (6) any other matter related to your use of the website/Service, irrespective of the fact that such liabilities occur due to any tort, misrepresentation, negligence of duty, and breach of contract or statutory responsibilities by Pray Where, or otherwise, and the possibility of such damages was already conveyed to it.<br>
These limitations shall be subject to applicable laws in your jurisdiction.<br></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Applicable laws</h1>
            		<p class="privacy-policy-page">The terms and conditions of this agreement shall be interpreted according to the laws of Singapore and parties to this agreement shall submit before the exclusive jurisdiction of the courts in Singapore.<br></p>
				</div>
            </div>

            <div class="row">
        		<div class="col-md-12">
        			<h1>Changes to this Agreement</h1>
            		<p class="privacy-policy-page">We reserve a right to change these terms and conditions at our sole discretion. Unless the changes are immediately required due to legal or administrative compulsions, we will take appropriate measures to notify you and provide reasonable time frame before changes become effective. Continued use of the website/Service after such notifications shall be deemed as your consent to accept the modified agreement.<br></p>
				</div>
            </div>

        </div>
    </div>