body {
	font:12px/14px Gotham, Arial, sans-serif;
	margin:0;
	background:#f3f3f3;
	color:#000;
}
a {
	text-decoration:none;
}
#wrapper {
	margin:0 auto;
	overflow:hidden;
	height:100%;
	width:100%;
}
.header-nav {
	width:100%;
	background:fff;
	border-bottom:6px solid #15a3e0;
	overflow:hidden;
	padding:18px 0;
	background:#fff;
}
.logo {
	float:left;
}
.logo a {
	display:block;
	outline:none;
}
.prayer {
	margin:24px 22px 0;
	float:left;
}
.prayer strong {
	font:17px/22px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
ul.nav {
	list-style-type:none;
	margin:30px 0 0;
	padding:0;
	display:block;
}
ul.nav li {
	float:left;
	margin:0 10px;
}
ul.nav li a {
	font:bold 12px/16px Helvetica, Arial, sans-serif;
	color:#15a3e0;
	text-transform:uppercase;
	padding:0 0;
	outline:none;	
}
ul.nav .active a,
ul.nav li a:hover {
	background:none;
	color:#f08f00;
}
.login {
	margin:26px 0 0;
	float:right;
}
.login a {
	font:16px/18px Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color:#000;
	text-decoration:none;
	position:relative;
	padding:4px 10px 0;
	outline:none;
}
.login a.active,
.login a:hover {
	color:#15a3e0;
	cursor:pointer;
}
.login a:first-child:before,
.login a:after,
.login a:before {
	content:'';
	clear:both;
	background:url(../images/img01.png) no-repeat;
	position:absolute;
	width:2px;
	height:25px;
	top:0;
	left:0;
}
.login a:first-child:after{
	display:none;
}
.login a:first-child:before {
	background:url(../images/img03.png) no-repeat;
	width:12px;
	height:10px;
	top:10px;
	left:-6px;
}
.login a:after {
	background:url(../images/img02.png) no-repeat;
	width:10px;
	height:10px;
	top:10px;
	left:55px;
}
.header-main {
	position:relative;
	width:100%;
	height:auto;
	border-bottom:6px solid #15a3e0;
	background:url(../images/main-header_02.jpg) 0px 0px no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:688px;
}
.header-main img{
	display:block;
	width:100%;
	height:auto;
}
.search-box {
	width:370px;
	background:rgba(0,156,224,0.8);
	float:right;
	margin:150px 0 0 0;
		text-align:center;
	padding:36px 0 20px;
	
}
.search-box span {
	font:bold 24px/26px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	display:block;
	margin:0 0 6px;
}
.search-box strong {
	font:bold 24px/26px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#f08f00;
	display:block;
	margin:0 0 10px;
}
.section {
	overflow:hidden;
	margin:-117px 0 38px;
}
.section img {
	display:block;
	position:relative;
}
strong {
	font:bold 16px/20px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#3c3c3b;
}
.form-control {
	width:100%;
	height:38px;
	margin:0 auto;
	border-radius:0;
	box-shadow:none;
	color:#575756;
	boder-box:box-sizing;
	background:#e9f5fb;
}
.prodect-item {
	border:1px solid #bcbcbc;
	overflow:hidden;
	padding:1px;
	background:#fff;
	margin:0 0 14px;
}
.prodect-item .photo {
	margin:0 15px 0 0;
	max-width:307px;
}
.prodect-item .photo img {
	max-width:307px;
}
.item-detail {
	margin:0 32px 0 -40px;
	padding:22px 0 0;
	font:13px/16px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#3c3c3b;
}
.item-detail h1 {
	font:bold 20px/22px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#009ce0;
	margin:0 0 8px;
}
.item-detail h2 {
	font:bold 18px/20px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#3c3c3b;
	margin:0 0 17px;
	border-bottom:1px solid #bcbcbc;
	padding:0 0 10px;
}
.item-detail strong {
	color:#f08f00;
}
.item-detail p {
	margin:0 0 50px;
}
.item-detail span {
	background:url(../images/icon01_03.png) no-repeat;
	color:#009ce0;
	padding:1px 0 5px 24px;
	font-size:14px;
	font-weight:bold;
	margin:0 20px 0 0;
	display:inline-block;
}
.item-detail span:last-child{
	background:none;
}
.item-detail .post {
	background:url(../images/icon02_03.png) no-repeat;
}
.item-detail span.status span,
.item-detail span.post span,
.item-detail span.checkin span{   
	color:#000;
	margin:0;
	padding:0;
	background:none;
}
.item-detail .status{
	background:none;
	padding:0;
}
.item-detail .status span.dotes,
.item-detail .post span.dotes,
.item-detail span.checkin span.dotes{   
	color:#f08f00;
	margin:0;
	padding:0px;
	background:none;
}
.item-detail .view-btn {
	float:right;
	background:#009ce0;
	padding:10px 20px;
	text-align:center;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.view-btn:hover{
	text-decoration:none;
	opacity:0.5;
}
.footer {
	background:#272727;
	overflow:hidden;
	color:#fff;
	padding:55px 0;
}
.footer span {
	color:#009ce0;
	text-transform:uppercase;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	margin:0 0 20px;
	display:block;
}
.footer .hidden-xs {
    padding: 35px 0 0;
}
.footer .list-group-item {
	border:none;
	background:none;
	overflow:hidden;
	padding:0;
	margin:0 0 20px 70px;
}
.footer .list-group-item .photo {
	float:left;
}
.list-group-item .item-list {
	padding:15px 0 0 20px;
	float:left;
}
.list-group-item .item-list h3 {
	font-size:19px;
	line-height:22px;
	color:#fff;
	margin:0 0 5px;
}
.social-icon {
	margin:0 0 40px;
}
.social-icon img {
	margin:0 5px 0 0;
}
.caption{  
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:999;
}
.form-row{ 
	padding:0 15px 15px;
}
.city {  
	float:left;
	width:130px;
	margin-right:5px;
}
.country {  
	float:left;
	width:150px;
}
.form-submit{  
	border:none;
	cursor:pointer;
	width:42px;
	height:38px;
	padding:0px;
	margin:0px;
	background:#e38d0e url("../images/search-icon.png") no-repeat scroll 50% 50%
}
.navigation .navbar {  
	min-height:inherit;
	border:none;
	margin-bottom:0px;
}

.navbar-toggle {  
	position:absolute;
	top:0px;
	right:10px;
}
.navbar-toggle .icon-bar{
	background-color:#e38d0e;
	width:26px;
	height:3px;
}
	
.menu-btn {  
	display:block;
	width:53px;
	height:35px;
}
.google {
	background:#e45a39;
	text-align:center;
}
a.google{
	text-decoration:none;
	padding:10px 130px;
}
.modal-dialog {
    margin: 90px auto;
    width: 426px;
}
.modal-content{
	background:#1d1d1b;
	color:#fff;
	border-radius:0;
	box-shadow:none;
}
.modal-body span {
	border-left:1px solid #e3e3e2;
	border-right:1px solid #e3e3e2;
}
.section img {
    width:100%;
}
.section .img-box{
	position: relative;
}
.section .img-box p {
    background-color: #ee9616;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    margin: 0 10%;
    opacity: 0.9;
    padding: 15px 10px;
    position: absolute;
    text-align: center;
    width: 80%;
}
.modal-header {
	padding:50px;
	border-bottom:none;
}
button.close {
	position:absolute;
	top:20px;
	right:20px;
	color:#fff;
	opacity:1;
	font-size:30px;
	font-weight:normal;
}
.or-line{
	margin: 0 15px;
    padding: 0 0 10px;
    position: relative;
    text-align: center;
}
.or-line-sign{
	margin-top: 15px;
    padding: 0 0 10px;
    position: relative;
    text-align: center;
}
.or-line-sign .title{
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
}
.or-line:before{
	background-color: #fff;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 100%;
}
.or-line .title{
	background-color: #1d1d1b;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
    z-index: 999999;
}
.form-row .form-login {
	font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: none;
    background-color: #f08f00;
    border: medium none;
    cursor: pointer;
    height: 38px;
	width:100%;
}
.form-row .sign-up-first {
	font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: none;
    background-color: #f08f00;
    border: medium none;
    cursor: pointer;
    height: 38px;
	width:100%;
}
.checkbox label p {
	margin:3px 0 0;
	font-size:12px;
}
.form-row .form-submit {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(../images/search-icon.png);
    background-color: #f08f00;
    border: medium none;
    cursor: pointer;
    height: 38px;
    margin: 0;
    padding: 0;
}
.forget-password{
	color:#fff;
	text-decoration: none;
	display:inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
}
.forget-password:hover{
	color:#fff;
	text-decoration: none;
}
.form-row p{
	font-size: 16px;
	font-weight: bold;
	color:#fff;
}
.form-row p .sign-up{
	color:#f08f00;
	text-decoration: none;
	display:inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
}
.form-row p .sign-up:hover{
	color:#fff;
	text-decoration: none;
}




/***** room page begin here ****/



.form-border {
	border:2px solid #f7f7f7;
	padding:16px;
	overflow:hidden;
	margin-bottom:15px;
}
.r-content {
	width:100%;
	overflow:hidden;
	background:#f2f2f2;
	padding:20px 0;
	border-bottom:6px solid #15a3e0;
}
.r-content h3{
	color:#006ec3;
	font-size:25px;
	line-height:27px;
}
.r-container {
    background: #fff none repeat scroll 0 0;
    max-width: 1000px;
}
.form-control-r {
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    color: #575756;
    height: 30px;
    margin: 0 auto;
    width: 100%;
	border:1px solid #c0c0c0;
	margin:0 0 12px;
}
.border {
	border-bottom:2px solid #fafafa;
	padding:0 0 14px;
	margin-bottom:18px;
}
.form-control-comment {
	background: #fff;
    border-radius: 0;
    box-shadow: none;
    color: #575756;
    min-height: 180px;
    margin: 0 auto;
    width: 100%;
	min-width: 436px;
	max-width: 436px;
	border:1px solid #c0c0c0;
	margin:0 0 12px;
}
.form-control-dir {
	background: #fff;
    border-radius: 0;
    box-shadow: none;
    color: #575756;
    min-height: 110px;
    margin: 0 auto;
    width: 100%;
	min-width: 436px;
	max-width: 436px;
	border:1px solid #c0c0c0;
	margin:0 0 12px;
}
a.youtube {
	background-color:#009ce2;
	color:#fff;
	display: block;
    margin: 18px 0 15px;
    padding: 8px 12px;
    text-align: center;
	border-radius:4px;
	font-weight:bold;
}
a.youtube:hover {
	text-decoration:none;
}



/***** custom checkboxes ****/
/***************** custom file input begins **************/
.file-wrapper { 
	cursor: pointer; 
	display: inline-block; 
	overflow: hidden; 
	position: relative; 
	width:105px; 
	height:120px; 
	margin-left:1px; 
}
.file-wrapper input { 
	cursor: pointer; 
	font-size: 100px; 
	height: 100%; 
	filter: alpha(opacity=1); 
	-moz-opacity: 0.01; 
	opacity: 0.01; 
	position: absolute; 
	right: 0; 
	top: 0; 
}
.file-wrapper .button { 
	background:url(../images/btn-bg.png) 0px 0px no-repeat; 
	color: #fff; 
	cursor: pointer; 
	display: inline-block; 
	font-size: 11px; 
	font-weight: bold; 
	text-transform: uppercase; 
	text-indent:-9999px; 
	width:115px; 
	height:120px; 
	margin-top:5px; 
}

/************** ends *************/



/************** prayer room begun here *************/


.parkway {
}
.parkway h3 {
	font-size:25px;
	line-height:27px;
	color:#009ce2;
}
.parkway span {
	font-size:20px;
	line-height:22px;
	color:#f4a242;
}
.entry {
	float:right;
	overflow:hidden;
	margin:20px 0 12px;
	text-align:center;
}
.entry a.edit-entry {
	background-color:#009ce2;
	color:#fff;
	padding:16px 10px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	display:inline-block;
	border-radius:5px;
	margin:0 0 0 4px;
}
.entry a.add-entry {
	background-color:#f29100;
	color:#fff;
	padding:13px 10px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	display:inline-block;
	border-radius:5px;
	margin:0 0 0 4px;
}
.entry a.add-entry span {
	background:rgba(242,169,0,0.9);
	padding:5px;
	font-size:11px;
	border-radius:10px;
	margin-right:5px;
}
.entry a.add-entry:hover,
.entry a.edit-entry:hover {
	text-decoration:none;
	opacity:0.8;
}
.form-border-box {
	border:2px solid #f7f7f7;
	padding:16px;
	margin-bottom:15px;
}
.bookmark {
	float:right;
	position:relative;
	margin:-10px -21px 0 0;
}
.bookmark a{
	background:url(../images/bookmark03.png) repeat-x;
	padding:3px 12px 5px;
	font-size:10px;
	text-decoration:none;
	margin:0 3px 0 9px;
	text-align:center;
	color:#fff;
}
.bookmark a:before{
	content:'';
	clear:both;
	top:2px;
	left:0;
	background:url(../images/bookmark01.png) no-repeat;
	position:absolute;
	width:9px;
	height:21px;
}
.bookmark a:after{
	content:'';
	clear:both;
	position:absolute;
	width:3px;
	height:26px;
	top:2px;
	right:0;
	height:23px;
	background:url(../images/bookmark02.png) no-repeat;
}
.form-border-box h2 {
	font:bold 16px/18px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#3c3c3b;
	margin:0 0 17px;
	padding:0 0 10px;
}
.form-border-box strong {
	color:#f08f00;
}
.form-border-box p {
	margin:0 0 10px;
}
.form-border-box span {
	background:url(../images/icon01_03.png) no-repeat;
	color:#009ce0;
	padding:1px 0 6px 20px;
	font-size:14px;
	font-weight:bold;
	margin:0 20px 20px 0;
	display:inline-block;
}
.form-border-box span:last-child{
	background:none;
}
.form-border-box .post {
	background:url(../images/icon02_03.png) no-repeat;
}
.form-border-box span.status span,
.form-border-box span.post span,
.form-border-box span.checkin span{   
	color:#000;
	margin:0;
	padding:0;
	background:none;
}
.form-border-box .status{
	background:none;
	padding:0;
	margin:0;
}
.form-border-box .status span.dotes,
.form-border-box .post span.dotes,
.form-border-box span.checkin span.dotes{   
	color:#f08f00;
	margin:0;
	padding:0px;
	background:none;
}
.share-icon {
	margin:0 0 10px;
	float:left;
}
.share-icon img {
	margin:0 5px 0 0;
}
.share-icon img:hover {
	opacity:0.5;
}
.share-icon strong {
	display:block;
	font-size:13px;
	margin:0 0 2px;
}
.voteup {
	float:right;
}
.voteup strong {
	text-transform:uppercase;
	display:block;
	font-size:11px;
	float:right;
	font-weight:bold;
}
.voteup-main {
	overflow:hidden;
	width:236px;
}
.voteup-main .photo {
	float:right;
	width:60px;
	text-align:center;
}
.voteup-main .detail {
	float:left;
	width:176px;
	font-size:7px;
}
.voteup-main p{
	text-align:right;
	float:left;
}
.galary img {
	margin:0 0 15px;
	max-height:253px;
	width:100%;
}
ul.nav-tabs {
	list-style-type:none;
	padding:0;
	margin:0;
	display:block;
	border-bottom:none;
}
ul.nav-tabs li {
	display:inline-block;
	margin:0;
}
ul.nav-tabs li a{
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	outline:none;
	background:#009ce2;
	padding:10px 15px;
	display:block;
	border-radius:0;
}
ul.nav-tabs .active a,
ul.nav-tabs li a:hover {
	background:none;
	color:#009ce2;
}
.org-btn {
	overflow:hidden;
	margin:0 0 0 70px;
}
.org-btn a{
	font-size:18px;
	padding:18px 22px;
	display:inline-block;
	line-height:20px;
	color:#fff;
	background:#ff8f00;
	text-transform:uppercase;
	font-weight:bold;
}
.org-btn a.active,
.org-btn a:hover{
	background:#fff;
	color:#009ce2;
	text-decoration:none;
}


/**** room sign up form begin ****/


.main {
	margin:20px auto;
	overflow:hidden;
	width:585px;
}
.main label{
	float:right;
	margin:8px 0;
	font-size:13px;
	color:#009ce2;
}









