// Place all the styles related to the versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_image_page{
	height: inherit;
	width: inherit;
}

.youtube {
	background-color:#009ce2;
	color:#fff;
	display: block;
    margin: 16px 0 0;
    padding: 7px 25px;
    text-align: center;
	border-radius:7px;
	font-weight:bold;
}